/*desktop*/
p {
  line-height: 2em;
  font-size: 1.2em;
  padding-bottom: 10px;
}

#content {
  width: 50%;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.5em;
}

/*phone*/
@media (orientation: portrait) {
  #content {
      width: 100%;
      line-height: 1.5em;
      font-size: 1.5em;}
  #nav-bar {
      flex-direction: column;
  }
}

#nav-bar {
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}

.nav-button {
  margin: auto;
}

.nav-button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div {border: 1px darkblue;}
Body{
  padding left: 20%;
  padding right: 20%;
  background-color: #ADD8E6
}

H1{
  font-size: 2.5em;
  color:#000000;
  font-family: times new roman
    }

  #byline {
  font size:2.5em;
  color:#000000;
}

P{
  font-size:1.5em;
  line-height: 1.5em;
  padding bottom;40px;
}

.img-container {
  width:100%;
}

img {
  margin:auto; 
}

.cutline{
  font-size:1em; 
  colour: #00000;
}

#contact {
  border: 1px solid black;
  padding: 20px;
  font-family:roboto;
}

ol {
  font-size:1.5em;
  padding 10px;
  font-family:italic
}

#content{
  width:50%;
  margin:auto;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #00000;
}

#nav-button{
margin: auto;
}

/*phone*/
@media (orientation: portrait) {
  #content {
      width: 100%;
      line-height: 1.5em;
      font-size: 1.5em;}